@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    --lightGrey: hsl(0, 0%, 98%);
    --allRound-box-shadow : rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.active {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Nunito Sans', sans-serif;
}

.flex {
    display: flex;
}

header {
    height: 5rem;
    box-shadow: var(--box-shadow);
}

header > div {
    height: inherit;
    justify-content: space-around;
    align-items: center;
}

form {
    padding: 0 2rem;
}

form > div {
    justify-content: center;
    margin: 1.4rem 0 2rem;
}

input, select {
    height: 3rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: var(--box-shadow);
}

input[type=text] {
    width: 90vw;
    padding-left: 2rem;
}

select {
    width: 50vw;
    padding: 0 1rem;
}

.box {
    width: 250px;
    min-height: 320px;
    background-color: var(--lightGrey);
    border-radius: 7px;
    margin: 3rem auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.country-flag {
    height: 160px; 
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.country-info {
    margin-left: 1.5rem;
}

.country-name {
    margin: 1rem 0 2rem;
    font-size: 1.4rem;
}

p {
    font-size: 14px;
}

p span {
    font-weight: 600;
    margin-right: 0.3rem;
}

.detailed-page {
    top: 6rem;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: block;
    z-index: 9999;
    background-color: hsl(0, 0%, 98%);
}

.detailed-page > div {
    padding: 0 2rem;
}

.container > div {
    margin: auto;
}

.back-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: var(--allRound-box-shadow);
    height: 3rem;
    width: 6.2rem;
    margin-top: 2rem;
}

.detailed-page button{
    background-color: inherit;
    outline: none;
    border: none;
    font-size: 17px;  
}

.back-btn-img {
    height: auto;
    width: 1.5rem;
}

.container{
    padding: 6rem 0 7rem;
}

.container img{
    height: 300px;
    width: 300px;
}

.container p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.div2 {
    margin: 2.2rem 0;
}

.border {
    font-weight: 600;
    font-size: 1.2rem !important;
    margin-bottom: 1.5rem !important;
}

.border-btn button {
    box-shadow: var(--allRound-box-shadow);
    padding: 0.5rem 1rem; 
    margin: 0 1.5rem 1.5rem 0;
}

@media screen and (min-width: 570px) {
    .home {
        padding: 0 2rem;
    }

    .container {
        display: flex;
    }

    .container img {
        width: 450px;
        height: 300px;
        margin-bottom: 4rem;
    }

   .wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    justify-content: center;
   }

   form{
    display: flex;
    margin: 2rem 0 0 0;
    justify-content: space-around;
    width: auto;
    padding: unset;
    }

    form > div {
        margin: unset;
    }

    input[type=text] {
        width: 15rem;
    }

    select {
        width: 10rem;
    }

    .box {
        margin: 0 1rem 3rem 1rem;
    } 
}

@media screen and (min-width: 760px) {
    .container img {
        width: 500px;
        height: 300px;
        margin-bottom: 4rem;
    }

    .flex-tab {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .div2 {
        margin: unset;
        margin-left: 4rem;
    }

    .border-country {
        margin-top: 4rem;
    }

    .country-name {
        margin: unset;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 900px) {
    .container > div {
        display: flex;  
        align-items: center;
        justify-content: space-evenly;
     }
 
     .container img {
         margin-right: 4rem;
         width: 450px;
         height: 350px;
     }

     .flex-tab {
        justify-content: space-between;
        align-items: center;
    }

 
    input[type=text] {
        width: 25rem;
    }

    select {
        width: 18rem;
    }

    header > div {
        justify-content: space-between;
        padding: 0 7rem;
    }
}

@media screen and (min-width: 1200px) {
    form {
        padding: 0 5rem;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1400px) {
    main,
    header > div{
        max-width: 1320px;
        margin: auto;
    }
}