@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Nunito Sans', sans-serif;
}

.home{
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.heading {
    height: 5rem;
    justify-content: space-around;
    align-items: center;
    box-shadow: var(--box-shadow);
}

form > div {
    justify-content: center;
    margin: 1.4rem 0 2rem;
}

input, select {
    height: 3rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: var(--box-shadow);
}

input[type=text] {
    width: 90vw;
    padding-left: 2rem;
}

select {
    width: 50vw;
    padding: 0 1rem;
}

.box {
    width: 250px;
    min-height: 320px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 7px;
    margin: 3rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

img {
    height: 150px; 
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
    margin-bottom: 1rem;
}

.wrapper  {
    display: grid;
    justify-content: center;
}

.details {
    margin-left: 1.5rem;
}

.details h3 {
    margin-bottom: 1rem;
}

.details p {
    font-size: 14px;
}

.details p span {
    font-weight: 600;
    margin-right: 0.3rem;
}

@media screen and (min-width: 570px) {
   .wrapper{
    grid-template-columns: auto auto;
    grid-gap: 25px;
   }

   form{
    display: flex;
    margin: 2rem 0 0 0;
    justify-content: space-between;
    width: auto;
    }

    form > div {
        margin: unset;
    }

    input[type=text] {
        width: 15rem;
    }

    select {
        width: 10rem;
    }
    
  }

  @media screen and (min-width: 900px) {
    .wrapper{
        grid-template-columns: auto auto auto;
    }

    input[type=text] {
        width: 25rem;
    }

    select {
        width: 18rem;
    }

  }

  @media screen and (min-width: 1200px) {
    .wrapper{
        grid-template-columns: auto auto auto auto;
    }
  }

